{
	"data": "ENC[AES256_GCM,data:YVyX0sYe0mWHFoVJjTdHI2J/90+rAZb3ZzJJ/puLBCXcJZwEscR0acEOVzGD8wXRXIKQyS5IVHsuPgTcVwxfJKF/HBn16DITcxp/NzEayYEsUAkIeKfqkyKY7r/yAq4z/A8YhxwwQBPwF2Q1ie2GJA4TEDmTr82j0ZrOMdrehVi7Gg5RN9IWu9OSyACxZa/Kx6+9DChkMWPHMQ7DZu4dHXUFvIomlzc0o4CLdA6Wu5t2Axs+2SFDoj+LBQVH97mcfL3AoXDhPsEuCiXKVdtNob+3vLj45Z07mFc/+1ArsqZSjRLe2mfw+17yQT/jBLVidJsU1Aqxz3X9bv86omxWXOLn0STbJ0+UCy3k9Zudcf4MVU1TEwmgHM2a5pLEuc4TlsA+USZF/M/tYaQU9hRqo6whzdqOQwDBDPywI6jbH336M+cRhpTcJ2MQO3oKZ3UPvT7iU9Dlw6r1T/y2nBG10zlZBgVcG8MQOTHZygTDQI3Ov04mHJ7rnK/BfziycrYT2+CNhPSjmyMe/r+m2HG5/x7YXUVERY6Tzi4FLBPDRTMXtGVC2q4QhZFRc5LcTzVaoHtaz2wwtuduWtBurk3QAB8uf+mVazOJRlFzZLnZeWQBDUC3OZLCDG3AHuwr5ejoZx+0OAzKOTChXOyLAwFO2cxTZimFKh+O3OqDyl3bPqL4yjBN0Wn847aJrVasjkkuiZZYGFkrWN5uz1Osy6jyFgHGCSqstXZ05Y3nBSi/UgGJz55nvY44AE63r4Tu8aVcPIKDtQaZlgM=,iv:bk7daL1oSYLqfC52Y6mvTq0J3gRHsOSRqrXEmUmAJNQ=,tag:NEZs8DX83ihOaGqSUP2tpw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1d36ec3gz0m6djc7vdqq03g3k89wz8el2ndzlnvswlwy0tjcm552s027ws8",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAyZ1NnQjNmeDVOMEFRV1pK\nT0hCRmVobEFQRm9lV1lRRk5Nek10b2QrUnc4ClhZUXlaTS93L3NvbmkvTVZucmVo\nbHgzVmt2Nkl6V3pZQXVkYlZEMFBFMDgKLS0tIGc1VXlxRVRoWTZmS3hKalo3ZEtO\nUVEvMFlUK3pIdWF2OWFlTmJJaElxd0EKych7R1w/p4Daa4sa9KzVR0wIhH6dUnE5\nAKNLry6SbXksshwDCaCgSmv8gY/5COkfKLERudrbxzB89OsVAqJ1og==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-03-21T07:55:00Z",
		"mac": "ENC[AES256_GCM,data:I04L6qxADgBnvGqyImGZPy7qFkhkLoZqrycbCproPEfyFg6QtLVkp7eWlkF+KZEZKe+PIzSUOXuQi9vixtyUCWR9DH0FLDKISxD+0GVgH3XtLcNl7VKeYBlJFg/CLmel0XtKWvW603Iu3PCHFFbAUSdKRr/gDx4g6sF3Iy4NKHA=,iv:R6YD2c6NtWXdDmMU9qfhb50w8XgmCg9hL1oe4/Q8e6s=,tag:Kmjo1R08Tv6pHIisst+XUQ==,type:str]",
		"version": "3.12.1"
	}
}
